
.container-time{
  background-color: cornflowerblue;
  color:#222;
  border: 1px solid gainsboro;
  padding: 1rem;
  border-radius: .5rem;
}

.container-hour{
  background-color: aqua;
  border: 1px solid gainsboro;
  padding: .3rem;
  border-radius: .2rem;
}

.container-info{
  background-color: aquamarine;
  border: 1px solid gainsboro;
  padding: .3rem;
  border-radius: .2rem;
}

.container-age{
  background-color: lightblue;
  border: 1px solid gainsboro;
  padding: .3rem;
  border-radius: .2rem;
}